*{
    padding: 0px;
    margin: 0px;
}

/*Cabeçalho*/
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-image: url("../Imagens/fundocabecalho.png");
    
}
#Menu{
    padding-left: 2%;
}
#nada{
    width: 1%;
}

/*Rodapé*/

footer{
    background-image: url("../Imagens/Fundo-rodapé.png");
    height: 500px;
}

#logosrodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.imagenspat{
    height: 100px;
}

#mapadosite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 200px;
}

.linkmp{
    display: flex;
    flex-direction: column;
}