*{
    padding: 0px;
    margin: 0px;
}

/*Cabeçalho*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-image: url("../Imagens/fundocabecalho.png");
}
#TituloHeader{
    text-decoration: none;
    color: white;
}
#Menu{
    padding-left: 2%;
}
#nada{
    width: 1%;
}

/*Rodapé*/

footer{
    background-image: url("../Imagens/Fundo-rodapé.png");

    padding: 20px;
}

#logosrodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.imagenspat{
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

#mapadosite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.linkmp{
    display: flex;
    flex-direction: column;
}

.links{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.redessociais{
    height: 20px;
    padding-right: 2px;
}

/* Menu hambúrguer */
#Menu {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#menu-hamburguer {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#menuul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.botoes {
    border-bottom: 1px solid #444;
}

.linkspag {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#menu-hamburguer a:hover {
    background-color: #575757;
}

#menu-hamburguer.active {
    display: block;
}

/* Responsividade*/
@media (max-width: 375px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    #logosrodape {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .imagenspat {
        height: 50px;
        padding: 5px;
    }

    #mapadosite {
        display: flex;
        flex-direction: row;
        padding: 15px;
        margin: 0;
        font-size: 16px;
    }

    .linkmp {
        align-items: center;
    }

    .links {
        font-size: 7px;
    }

    #Menu {
        align-self: flex-start;
    }

    #menu-hamburguer {
        width: 100%;
        top: 50px;
        right: 0;
        border-radius: 0;
    }

    #menu-hamburguer a {
        padding: 12px 8px;
        font-size: 16px;
    }
}


