* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

#sel-visualizacao{
 margin-left: 50px;
 margin-top: 20px;
 width: 100px;
 height: 30px;
 font-size: 20px;
 background-color:  #F9BA1A;
}

/* Banner principal */
#banner {
    background: url('../Imagens/carros.png') center/cover no-repeat;
    text-align: center;
    padding: 50px 20px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#banner-title {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

#banner-subtitle {
    font-size: 30px;
    color: #ccc;
}

/* Títulos das seções */
.titulo {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-bottom: solid 3px #F9BA1A;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.carpilo{
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #F9BA1A;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* Informações dos carros */
.car-info {

    text-align: center;
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    height: 50%;
    margin-top: 15%;
    margin-bottom: 50px;
    border: 2px solid #F9BA1A;
}

.car-image {
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
}

.car-f1{
    text-align: center;
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    height: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #F9BA1A;
}

.car-name {
    font-size: 20px;
    font-weight: bold;
    color: #F9BA1A;
}

/* Cartões dos pilotos */
.pilots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    width: 500px;
}

.pilot-card {
    background-color: #444;
    border: 2px solid #F9BA1A;
    text-align: center;
    width: 700px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pilot-photo {
    height: 125px;
    margin-bottom: 10px;
}

.pilot-info {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
    align-items: center;
    text-align: center;
}

@media (max-width: 780px) {
    /* Banner */
    #banner {
        height: 280px;
        padding: 20px 10px;
    }

    #banner-title {
        font-size: 36px;
    }

    #banner-subtitle {
        font-size: 18px;
    }

    /* Botões */
    .selector-btn {
        padding: 8px 14px;
        font-size: 14px;
    }

    /* Títulos */
    .titulo {
        font-size: 22px;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Seções de carros */
    .car-info,
    .car-f1 {
        width: 80%;
        margin-left: 40px ;
    }

    .car-image {
        max-width: 100%;
    }

    .carpilo {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Pilotos */
    .pilots {
        flex-direction: column;
        width: 50%;
        margin: 15px auto;
    }

    .pilot-card {
        flex-direction: column;
        width: 500px;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: -90px;
    }

    .pilot-photo {
        height: 100px;
        margin-bottom: 10px;
    }

    .pilot-info {
        font-size: 14px;
        padding-left: 0;
        text-align: center;
    }
}