*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: porscha;
    src: url(../fontes/911porschav3ital.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(78, 78, 78);
    color: #ffffff;
}

#inftitulo{
    font-size: 25px;
    width: 1000px;
}

#titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#imgequipe{  
    height: 400px;  
    background-image: url("../Imagens/Trocando\ Pneu\ \(1\).png");
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subt {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

#equipe-tecnica {
    padding: 20px;
    margin-bottom: 40px;
}


.ppart {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.divp{
    width: 550px;
}

#equipe {
    background-color: rgb(78, 78, 78);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.partbox{
    display: flex;
    justify-content: center;
}

.outrosubtitulo{
    margin-top: 30px;
    color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-family: porscha;
    font-size: 30px;
}

.participante {
    width: 700px;
    display: flex;
    align-items: center;
    background-color: rgb(78, 78, 78);
    padding: 15px;
    border: solid 3px #F9BA1A;
    margin: 15px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.participante img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.subtitulos {
    margin: 10px 0 5px 0;
    font-size: 18px;
    color: #ffffff;
    border-bottom: solid 3px #F9BA1A;
}

.participante p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}
@media (max-width: 375px) {
    .participante {
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 200px;
    }

    #inftitulo {
        font-size: 15px;
        width: auto;
    }

    #titulo {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }

    .participante img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        border: 2px solid #ddd;
    }

    .participante p {
        text-align: center;
        margin: 0;
        font-size: 12px;
        line-height: 1.4;
        width: 280px;
        margin-left: 130px;
    }

    .subtitulos {
        margin: 8px 0 4px 0;
        font-size: 16px;
        color: #ffffff;
        border-bottom: solid 2px #F9BA1A;
    }

    #imgequipe{  
        height: 200px;  
        background-image: url("../Imagens/imgequipe_responsivo.png");
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
